<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="activityDao" class="com.huiting.xml.dao.ActivityDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="albumDao" class="com.huiting.xml.dao.AlbumDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
    <bean id="audioDao" class="com.huiting.xml.dao.AudioDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	 <bean id="audioHuibenDao" class="com.huiting.xml.dao.AudioHuibenDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="channelDao" class="com.huiting.xml.dao.ChannelDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="commentDao" class="com.huiting.xml.dao.CommentDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="downDao" class="com.huiting.xml.dao.DownDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="firstPageDao" class="com.huiting.xml.dao.FirstPageDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="flowerDao" class="com.huiting.xml.dao.FlowerDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="huibenDao" class="com.huiting.xml.dao.HuibenDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="picBookDao" class="com.huiting.xml.dao.PicBookDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="picHuibenDao" class="com.huiting.xml.dao.PicHuibenDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="pictureDao" class="com.huiting.xml.dao.PictureDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="programDao" class="com.huiting.xml.dao.ProgramDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="sMSVerifyCodeDao" class="com.huiting.xml.dao.SMSVerifyCodeDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="storeDao" class="com.huiting.xml.dao.StoreDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="subscribeDao" class="com.huiting.xml.dao.SubscribeDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="userBaseInfoDao" class="com.huiting.xml.dao.UserBaseInfoDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="userConcernedDao" class="com.huiting.xml.dao.UserConcernedDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="userLoginDao" class="com.huiting.xml.dao.UserLoginDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="userSummaryDao" class="com.huiting.xml.dao.UserSummaryDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="ccUploadFilesDao" class="com.huiting.xml.dao.CcUploadFilesDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean>
	<bean id="xmlDao" class="com.huiting.xml.dao.XmlDao" scope="prototype">
	   <property name="sqlMapClient">
	     <ref bean="sqlMapClient" />
	   </property>
	</bean> 
</beans>